 @media (min-width:1200px) {
     .container {
         max-width: 1090px
     }
 }

 .landing-page {
     width: 100%;
     height: 100vh;
     background-image: url(images/xocali.png);
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
     position: relative;
     padding: 41px 0 28px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     z-index: 0
 }

 .landing-page:after {
     content: '';
     position: absolute;
     width: 100%;
     height: 100%;
     left: 0;
     top: 0;
     background: rgba(0, 0, 0, .35);
     z-index: 1
 }

 .landing-bottom {
     position: relative;
     z-index: 2;
     width: 100%;
     display: flex;
     align-items: center
 }

 .landing-date {
     padding: 16px 17px 13px;
     display: flex;
     flex-direction: column;
     color: #fff;
     background: rgba(255, 255, 255, .3);
     margin-right: 25px;
     height: 80px
 }

 span.day {
     font-family: 'Codec Pro';
     font-weight: 900;
     font-style: normal;
     font-size: 36px;
     line-height: 31px;
     color: #f2f2f2
 }

 span.month {
     font-family: 'Codec Pro';
     font-style: normal;
     font-weight: 400;
     font-size: 22px;
     line-height: 19px;
     text-transform: uppercase;
     color: #e0e0e0
 }

 .landing-links a {
     font-family: 'Codec Pro';
     font-style: normal;
     font-weight: 300;
     font-size: 18px;
     line-height: 110%;
     text-align: center;
     text-transform: uppercase;
     color: #00f1dd;
     text-decoration: none;
     position: relative
 }

 .landing-links a:not(:last-child) {
     margin-right: 17px;
     padding-right: 17px;
     border-right: 1px solid #f2f2f2
 }

 .landing-text {
     margin-top: 13px;
     font-family: 'Codec Pro';
     font-style: normal;
     font-weight: 400;
     font-size: 48px;
     line-height: 110%;
     color: #fff
 }

 .karabakh_map {
     object-fit: cover;
     height: 440px
 }

 .karabakh-body {
     padding: 10px 0;
     /* background-image: url(images/background-body.png); */
     background-size: cover;
     background-position: center
 }

 .swiper-slide img {
     width: 100%;
     height: 180px
 }

 .swiper-slide {
     height: 180px !important
 }

 .swiper-box {
     width: 1090px;
     margin: auto;
     height: fit-content
 }

 .swiper-main-box {
     padding-bottom: 70px;
     /* background-image: url(images/background-body.png); */
     background-size: cover;
     background-position: center
 }

 .prev-bottom {
     left: -75px
 }

 .next-bottom {
     right: -75px;
     transform: rotate(180deg)
 }

 .directive-buttons {
     position: absolute;
     top: 40%;
     z-index: 55;
     width: 10px;
     height: 20px;
     cursor: pointer
 }

 .content-fill_recommends {
     background-size: cover;
     background-position: center
 }

 .content-news {
     font-family: 'Codec Pro';
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 150%;
     text-align: justify;
     color: #010101;
     margin: 40px 0
 }

 .recommends .rec_title {
     font-family: 'Codec Pro';
     font-style: normal;
     font-weight: 300;
     font-size: 37px;
     line-height: 32px;
     display: flex;
     align-items: center;
     color: #010101;
     margin-bottom: 34px
 }

 .rec-grid-box {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-gap: 28px;
     width: 100%
 }

 .rec-img-box {
     position: relative;
     overflow: hidden
 }

 .rec-img-box img {
     transition: ease-in-out .3s
 }

 .rec-img-box:hover img {
     transform: scale(1.1)
 }

 .rec-img-box:after {
     content: '';
     position: absolute;
     width: 100%;
     height: 100%;
     left: 0;
     top: 0;
     background: rgba(51, 51, 51, .35);
     z-index: 1
 }

 .rec_sample {
     position: relative
 }

 .rec-inner {
     position: absolute;
     display: flex;
     z-index: 2;
     bottom: 20px;
     left: 20px;
     align-items: center
 }

 .rec-inner .landing-date {
     height: fit-content;
     margin-right: 15px
 }

 .rec-inner .day {
     font-family: 'Codec Pro';
     font-style: normal;
     font-weight: 900;
     font-size: 24px;
     line-height: 21px;
     color: #f2f2f2
 }

 .rec-inner .month {
     font-family: 'Codec Pro';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 14px;
     text-transform: uppercase;
     color: #e0e0e0
 }

 .inner-right .landing-links a {
     font-family: 'Codec Pro';
     font-style: normal;
     font-weight: 300;
     font-size: 10px;
     line-height: 110%;
     text-transform: uppercase;
     color: #00f1dd
 }

 .rec-inner .landing-text {
     font-family: 'Codec Pro';
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 110%;
     color: #fff;
     margin-top: 8px
 }

 footer {
     position: relative;
     float: left;
     padding-top: 0;
     padding-bottom: 45px;
     /* background-image: url(images/background-body.png); */
     background-size: cover;
     background-position: center;
     width: 100%
 }

 .footer-logo-box {
     width: 100px
 }

 .footer-box {
     display: flex;
     width: 100%;
     justify-content: space-between;
     position: relative;
     padding-top: 45px
 }

 .footer-logo {
     width: 30px;
     height: 35px
 }

 .footer-logo-name {
     font-family: 'Codec Pro';
     font-style: normal;
     font-weight: 400;
     font-size: 10px;
     line-height: 120%;
     color: #010101;
     margin-left: 21px
 }

 .footer-logo-name a {
     color: #010101;
     text-decoration: underline
 }

 .footer-center-box {
     display: flex;
     grid-column-gap: 40px;
     grid-auto-rows: minmax(min-content, max-content);
     margin: 10px 30px 0 55px
 }

 .title-single {
     font-family: 'Codec Pro';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 14px;
     color: #010101
 }

 .title-single:hover {
     text-decoration: underline
 }

 .list {
     margin-top: 1.5rem;
     display: grid;
     grid-gap: 2px;
     grid-auto-rows: minmax(min-content, max-content)
 }

 .list a {
     font-family: 'Codec Pro';
     font-style: normal;
     font-weight: 400;
     font-size: 12px;
     line-height: 125%;
     color: #010101;
     text-decoration: none
 }

 .footer-input form {
     border: 1px solid #b0b0b0;
     box-sizing: border-box;
     border-radius: 50px;
     padding: 6px 12px;
     display: flex;
     align-items: center
 }

 .footer-input form img {
     margin-right: 10px
 }

 .footer-input form input {
     font-family: 'Codec Pro';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     color: #010101;
     background: 0 0
 }

 header {
     z-index: 55
 }

 .header-container {
     display: flex;
     width: 100%;
     justify-content: space-between;
     align-items: center;
     position: relative;
     z-index: 5
 }

 .header-logo a img {
     width: 150px
 }

 .tabs-menu {
     display: flex;
     margin-bottom: 0
 }

 .tabs-menu li a {
     font-family: 'Codec Pro';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 14px;
     color: #fff;
     text-decoration: none;
     padding-bottom: 14px;
     white-space: nowrap
 }

 .tabs-menu li.active {
     position: relative
 }

 .tabs-menu li.active::before {
     content: '';
     position: absolute;
     height: 3px;
     width: 100%;
     background-color: #00f1dd;
     left: 0;
     bottom: 0
 }

 .tabs-menu li {
     position: relative
 }

 .header-right {
     display: flex;
     align-items: center
 }

 .header-right img {
     filter: brightness(0) invert(1)
 }

 /* .header-right .header-tool-kit {
    margin-right: 30px
} */

 .header-right .header-tool-kit {
     margin-right: 0;
 }

 .header-right .languages a {
     text-decoration: none;
     font-family: 'Codec Pro';
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 14px;
     color: #fff
 }

 section.history-main {
     /* background-image: url(images/background-body.png); */
     background-size: cover;
     background-position: center;
     position: relative;
     z-index: 5
 }

 .header-right .languages a {
     color: #010101
 }

 section.history-main .tabs-menu li a {
     color: #010101
 }

 .header-right img {
     filter: unset
 }

 .history-heading {
     font-style: italic;
     font-weight: 400;
     font-size: 15px;
     line-height: 13px;
     color: #a75ab7;
     text-align: center
 }

 section.history .main-heading {
     padding-top: 210px
 }

 .history-images {
     padding: 0 0 40px
 }

 .history-same {
     height: 299px;
     position: relative;
     overflow: hidden;
     margin-bottom: 30px;
     width: 100%
 }

 .history-same img {
     width: 100%;
     transition: 1.9s ease-in-out;
     height: 100%;
     object-fit: cover;
     box-sizing: border-box;
     border-radius: 20px;
     mix-blend-mode: darken
 }

 .history-same .image-overlay {
     position: absolute;
     height: 100%;
     width: 100%;
     left: 0;
     top: 0;
     background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .5) 100%);
     mix-blend-mode: multiply;
     background-blend-mode: screen;
     mix-blend-mode: multiply;
     transition: ease-in-out .4s;
     z-index: 10;
     border-radius: 20px
 }

 .history-same:hover .image-overlay {
     opacity: 1;
     visibility: visible;
     background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 100%)
 }

 .absolute-header {
     position: absolute;
     left: 50px;
     bottom: 28px;
     font-style: normal;
     font-weight: 400;
     font-size: 36px;
     max-width: 560px;
     line-height: 110%;
     display: flex;
     align-items: center;
     color: #ffff;
     transition: ease-in-out .6s;
     z-index: 11;
     text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
     width: 60%
 }

 .history-same:hover .absolute-header {
     color: #fff
 }

 .tabs-menu li.active::before {
     display: none
 }

 .tabs-menu li.active {
     background: #a75ab7;
     border-radius: 20px
 }

 .tabs-menu li.active a {
     color: #000 !important
 }

 .tabs-menu li {
     transition: .1s ease;
     border-radius: 20px
 }

 .tabs-menu li a {
     transition: .4s ease
 }

 .next-history {
     padding: 125px 0 80px
 }

 .history-title {
     font-style: normal;
     font-weight: 400;
     font-size: 72px;
     line-height: 110%;
     color: #010101;
     font-family: 'Blacker Pro Display Condensed'
 }

 .history-breadcrump {
     margin-top: 80px;
     display: none
 }

 .history-breadcrump a {
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 140.24%;
     color: #888
 }

 .history-breadcrump a:last-child {
     font-style: normal;
     font-weight: 500;
     font-size: 18px;
     line-height: 140.24%;
     color: #010101
 }

 .history-one-box {
     position: relative;
     transition: ease-in-out .6s;
     box-sizing: border-box;
     border-radius: 20px;
     overflow: hidden
 }

 .history-one-box:before {
     content: '';
     position: absolute;
     width: 100%;
     height: 75%;
     background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .5) 100%);
     mix-blend-mode: normal;
     left: 0;
     bottom: 0;
     border-radius: 20px
 }

 .history-one-box:after {
     content: '';
     position: absolute;
     width: 100%;
     height: 100%;
     background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .5) 100%);
     mix-blend-mode: normal;
     left: 0;
     bottom: -135px;
     border-radius: 20px
 }

 .history-img-box {
     border-radius: 20px;
     overflow: hidden;
     height: 300px
 }

 .history-img-box img {
     transition: all 1.3s;
     width: 100%;
     height: 300px;
     border-radius: 20px
 }

 .history-first-box {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-gap: 30px;
     margin: 25px 0 150px;
     position: relative;
     z-index: 5;
     margin-top: 49px
 }

 .history-contact {
     margin-top: 22px;
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 110%;
     color: #fff
 }

 .history-contact img {
     margin: 0 11px
 }

 .bottom-history {
     position: absolute;
     left: 30px;
     bottom: 20px;
     padding-right: 30px;
     z-index: 2
 }

 .bottom-history .history-content {
     font-style: normal;
     font-weight: 400;
     font-size: 24px;
     line-height: 110%;
     color: #fff;
     width: 90%;
     overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box !important;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 2;
     backface-visibility: hidden
 }

 .history-inner-overlay {
     content: '';
     position: absolute;
     left: 0;
     bottom: 0;
     width: 100%;
     height: 100%;
     background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .5) 100%);
     mix-blend-mode: normal;
     z-index: 1;
     opacity: 0;
     visibility: hidden;
     transition: ease-in-out .5s;
     border-radius: 20px
 }

 .history-one-box:hover .history-inner-overlay {
     transition: ease-in-out .5s;
     opacity: 1;
     visibility: visible
 }

 .history-second-box {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-gap: 30px;
     margin: 25px 0 90px;
     position: relative
 }

 .history-second-box .history-one-box:first-child {
     grid-column-start: 1;
     grid-column-end: 3
 }

 .history-second-box .history-one-box:first-child .history-content {
     width: 70%
 }

 .history-third-box {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-gap: 30px;
     margin: 25px 0 60px;
     position: relative
 }

 .back-history {
     position: absolute;
     top: 0;
     left: -60px;
     display: none
 }

 .history-inner-landing {
     position: relative
 }

 .landing-background {
     position: relative
 }

 .landing-background::before {
     content: '';
     position: absolute;
     height: 65px;
     width: 100%;
     left: 0;
     bottom: -1px;
     background: linear-gradient(180deg, rgba(245, 239, 222, 0) 50%, #f5efde 100%);
     z-index: 2
 }

 .landing-background::after {
     content: '';
     position: absolute;
     height: 100%;
     width: 100%;
     left: 0;
     bottom: -300px;
     background-image: url(images/texture.png);
     background-size: cover;
     background-position: center;
     z-index: 3
 }

 .landing-background img {
     width: 100%;
     height: auto;
     mix-blend-mode: multiply;
     height: 580px;
     object-fit: cover
 }

 .inner-landing-title {
     position: relative;
     z-index: 5;
     font-style: normal;
     font-weight: 300;
     font-size: 52px;
     line-height: 110%;
     text-transform: uppercase;
     color: #010101;
     font-family: 'Blacker Pro Cond Dis Lt';
     word-break: break-word;
     margin-top: -11%
 }

 .history_catpage_title {
     font-size: 52px
 }

 .banner-history-img {
     position: relative;
     width: 100%;
     height: 580px;
     object-fit: cover
 }

 .history-inner {
     margin-top: 55px
 }

 .history-inner-box .history-breadcrump {
     margin: 0;
     padding: 40px 0;
     border-bottom: 2px solid rgba(51, 51%, 51%, 25%)
 }

 .history-inner-grid {
     margin-top: 44px
 }

 .history-inner-heading {
     font-style: normal;
     font-weight: 400;
     font-size: 36px;
     line-height: 150%;
     text-align: justify;
     color: #010101;
     margin-bottom: 20px
 }

 .inner-top-images {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-gap: 40px;
     margin: 30px 0 40px
 }

 .dividing-content {
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 150%;
     text-align: justify;
     color: #010101
 }

 .inner-image {
     overflow: hidden
 }

 .inner-top-images img {
     width: 100%;
     transition: all 1.2s
 }

 .inner-top-images .inner-image:hover img {
     transform: scale(1.1)
 }

 .history-full-container {
     margin: 30px 0 40px
 }

 .video-img {
     margin: 60px 0 40px
 }

 .recommend-box {
     margin-top: 40px;
     padding-bottom: 25px
 }

 .recommend-grid {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-gap: 20px 40px
 }

 .rec-single-img {
     overflow: hidden
 }

 .rec-single-img img {
     height: 200px;
     object-fit: cover;
     transition: ease-in-out 1.2s
 }

 .rec-single-img:hover img {
     transform: scale(1.1)
 }

 .recommend-title {
     font-style: normal;
     font-weight: 700;
     font-size: 36px;
     line-height: 110%;
     text-align: center;
     color: #010101;
     margin: 0 0 40px
 }

 .recommend-content {
     margin-top: 40px;
     font-style: normal;
     font-weight: 700;
     font-size: 18px;
     line-height: 150%;
     color: #010101;
     height: 54px;
     overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box !important;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 2
 }

 .footer-main-box {
     width: 100%;
     border-top: 3px solid #333
 }

 .digitalks-logo {
     margin-top: 10px
 }

 .digitalks-development {
     font-style: normal;
     font-weight: 400;
     font-size: 10px;
     line-height: 120%;
     color: #010101
 }

 .digitalks-development a {
     color: #010101;
     text-decoration: underline
 }

 .letter_vlist li a:hover {
     text-decoration: underline
 }

 .letter_vlist li a.active {
     color: #a75ab7
 }

 .lib_banner_cont {
     display: flex;
     justify-content: space-between;
     align-items: center
 }

 .lib_banner_cont form {
     border: 1px solid #b0b0b0;
     box-sizing: border-box;
     border-radius: 50px;
     padding: 6px 12px;
     display: flex;
     align-items: center;
     margin-right: -22px;
     width: 250px
 }

 .lib_banner_cont form input {
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     color: #010101;
     background: 0 0;
     margin-left: 10px
 }

 .lib_banner_cont form img {
     mix-blend-mode: unset !important
 }

 .library_tabs {
     margin-top: 0 !important
 }

 .library_alphabetic_links {
     margin-top: 20px !important;
     margin-bottom: 50px !important
 }

 .lib_banner_cont {
     margin-top: -90px !important;
     margin-bottom: 30px
 }

 .lib_banner_cont h3 {
     margin-bottom: 0 !important
 }

 .library_tab_elements ul {
     margin-bottom: 15px !important
 }

 .cpi_cont {
     position: relative
 }

 .pagination {
     justify-content: center
 }

 .page-item.disabled .page-link {
     color: unset;
     background-color: #c4c4c4
 }

 .page-item.active .page-link {
     z-index: 1;
     color: #fff;
     background-color: #010101;
     border-color: transparent
 }

 .page-link {
     position: relative;
     display: block;
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     padding: .5rem .75rem;
     margin-left: -1px;
     line-height: 1.25;
     color: #010101;
     background-color: #c4c4c4;
     border: 1px solid #dee2e6;
     transition: all .3s
 }

 .page-link:hover {
     z-index: 2;
     color: #fff;
     text-decoration: none;
     background-color: #010101
 }

 .page-link {
     position: relative;
     display: block;
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     padding: .5rem .75rem;
     margin-left: -1px;
     line-height: 1.25;
     color: #010101;
     background-color: #c4c4c4;
     border: 1px solid #dee2e6;
     transition: all .3s
 }

 .banner_regions_links ul li a .brl_image {
     display: block !important
 }

 .banner_regions_links ul li a p {
     font-weight: 500 !important
 }

 .banner_regions_links ul li a:hover p {
     background-color: unset !important;
     color: #010101 !important
 }

 .banner_regions_title h3 {
     font-style: normal;
     font-weight: 500;
     font-size: 38px;
     line-height: 100%;
     text-align: center;
     text-transform: uppercase;
     color: #010101
 }

 .cpi_cont {
     margin: 0 auto
 }

 .catalog_mainpage_content {
     margin-top: 56px !important;
     padding-top: 53px;
     border-top: 3px solid #010101
 }

 .catalog_page_infonumbers {
     margin-top: 56px !important;
     padding-top: 53px;
     border-top: 3px solid #333
 }

 .banner_regions {
     bottom: unset !important;
     margin-top: -330px
 }

 .village_head_description {
     margin-top: 25px;
     display: block !important
 }

 .catalog_mainpage_content {
     margin-bottom: 0 !important
 }

 .cmc_content {
     margin: 25px 0
 }

 .region_main_imagelist {
     margin-top: 30px
 }

 .catalog_gallery_cont .village_head_description {
     display: none !important
 }

 .library_alphalist li a.active {
     background-color: #a75ab7;
     color: #fff
 }

 .catalog_mainpage_content p {
     font-style: normal;
     font-weight: 300;
     display: flex;
     align-items: left;
     text-align: left;
     color: #010101;
     margin-bottom: 25px
 }

 .letter_vlist li a {
     text-align: center
 }

 .region_gallery_title {
     display: none
 }

 .catalog_page_infonumbers {
     display: none
 }

 .lib_banner_cont h3 {
     padding-bottom: 100px !important;
     margin-top: 100px
 }

 .library_alphalist li a,
 .library_tab_elements li {
     font-family: 'Codec Pro' !important
 }

 .library_alphalist li a.active {
     background-color: #010101
 }

 .ethnic_section_title .title_codec {
     font-size: 38px !important
 }

 .ethnic_section_title .title_blacker {
     font-size: 101px !important
 }

 .ethnic_desc {
     align-items: flex-end !important
 }

 .menu_dropdown,
 .menu_has_drop>a:after {
     display: none !important
 }

 .ethnic_desc {
     justify-content: unset !important
 }

 .main_cpi_cont .cpi_box:nth-child(1) {
     display: flex !important
 }

 .tabs-menu li:not(:last-child) {
     margin-right: 22px
 }

 .win-body-content {
     margin-top: 30px !important
 }

 .cerniy-body-content {
     margin: 30px 0 45px !important
 }

 .ethnic_section_title h2 .title_blacker {
     margin-top: -42px !important
 }

 .ethnic_section_description {
     display: none
 }

 .main_banner_image img {
     transform: translateY(-116px) !important
 }

 .ekosid-head-title {
     font-size: 186px !important
 }

 .ekosid-head {
     margin-top: 57px
 }

 .ethnic_section_title h2 .title_blacker {
     margin-top: -42px !important
 }

 .ethnic_section_title .title_codec {
     font-size: 55px !important
 }

 .ethnic_section_title .title_blacker {
     font-size: 145px !important
 }

 @media(min-width:1900px) {
     .banner_title {
         margin-top: 39% !important
     }

     .cerniy-main-title,
     .cerniy-second-title,
     .cerniy-third-title {
         font-size: 130px !important
     }

     .cerniy-body-content {
         width: 475px !important;
         font-size: 22px !important
     }

     .banner_title h2 {
         line-height: 109% !important
     }

     .ethnic_section_title .title_blacker {
         font-size: 200px !important
     }

     .ethnic_section_title .title_codec {
         font-size: 76px !important
     }

     .ethnic_section_description {
         margin-bottom: 7px
     }
 }

 .show_more {
     font-size: 14px;
     padding: 6px 15px;
     transition: .3s ease-in-out;
     border-radius: 20px;
     background: 0 0;
     color: #010101;
     border: 1px solid #010101;
     cursor: pointer
 }

 .show_more:hover {
     background: #010101;
     color: #fff
 }

 @media(min-width:1600px) {
     .banner_title h2 {
         font-size: 72px !important
     }

     .banner_title {
         margin-top: 35% !important
     }

     .cerniy-main-title,
     .cerniy-second-title,
     .cerniy-third-title {
         font-size: 120px !important
     }

     .cerniy-body-content {
         width: 475px !important;
         font-size: 22px !important
     }

     .ekosid-head {
         margin-top: 170px
     }

     .cerniy-body {
         margin-left: 33vw !important
     }
 }

 @media (max-width:1600px) {
     .banner_title {
         margin-top: 34% !important
     }
 }

 @media(min-width:1340px) {
     .footer-main-box {
         width: 1310px;
         margin: auto
     }

     .catalog_mainpage_content,
     .catalog_page_infonumbers {
         width: 1310px;
         margin: auto
     }
 }

 .gallery_tabs {
     position: relative;
 }

 #loading {
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
 }

 #loading img {
     width: 80px;
     height: 80px;
 }

 @media (min-width: 1600px) {

     body[data-lang="az"] .cerniy-main-title,
     body[data-lang="az"] .cerniy-second-title,
     body[data-lang="az"] .cerniy-third-title {
         font-size: 90px !important;
     }

     body[data-lang="az"] .cerniy-second-title {
         margin-top: -4px;
         margin-bottom: 30px;
     }
 }

 @media(max-width:1600px) {

     body[data-lang="az"] .cerniy-main-title,
     body[data-lang="az"] .cerniy-second-title,
     body[data-lang="az"] .cerniy-third-title {
         font-size: 70px !important;
     }

     body[data-lang="az"] .cerniy-second-title {
         margin-top: -4px;
         margin-bottom: 30px;
     }
 }

 @media(max-width:1200px) {

     body[data-lang="az"] .cerniy-main-title,
     body[data-lang="az"] .cerniy-second-title,
     body[data-lang="az"] .cerniy-third-title {
         font-size: 50px !important;
     }

     body[data-lang="az"] .cerniy-second-title {
         margin-top: -4px;
         margin-bottom: 0;
     }
 }